# Ignore all files in the node_modules directory
node_modules/*

# Ignore all files in the dist directory
dist/*

# Ignore the .gitignore file
.gitignore

# Ignore all files in the .vscode directory
.vscode/*

# Ignore all files with this extensions
*.log
*.md 

# Ignore all files with the .json extension, except package.json and tsconfig.json
*.json
!package.json
!tsconfig.json
